/* --------------------------
genarel css
----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=var(--pos-primary-font-family):wght@400;600;700&family=var(--pos-secondary-color):wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fa-facebook:hover {
    color: blue;

}

.fa-linkedin:hover {
    color: darkblue
}

.fa-instagram:hover {
    color: red
}

.fa-twitter:hover {
    color: blueviolet
}



.container {
    max-width: 1440px;
}

:root {
    --pos-main-all: #232536;
    --primary-pos-bg: #F4F4F4;
    --pos-primary-color: #FFD050;
    --pos-secondary-color: #FBF6EA;
    --pos-primary-font-family: 'inter';
    --pos-secondary-font-family: 'sen';
}

h1 {
    font-family: var(--pos-secondary-font-family);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin-top: 24px;
    margin-bottom: 24px;
}

h2 {
    color: var(--pos-main-all);
    /* Heading H1 */
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 133.333% */
    letter-spacing: -2px;
}

h5 {
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* ----------------------------------
common css
------------------------------------ */
.pos-heading-section h2 {
    color: var(--pos-main-all);

    /* Heading H2 */
    font-family: var(--pos-secondary-font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
}

h3 {
    color: var(--pos-main-all);
    font-family: var(--pos-secondary-color);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
}

h4 {
    color: var(--pos-main-all);
    /* Heading H3 */
    font-family: var(--pos-secondary-font-family);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: -1px;
}

.pos-heading-section h6 {
    color: var(--pos-main-all);
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

h6 span {
    color: #592EA9;
    font-family: var(--pos-primary-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-right: 2px solid var(--pos-main-all);
    padding-right: 10px;
    margin-right: 10px;
}

.pos-heading-section h5 {
    color: #FFF;

}


p {
    color: #6D6E76;

    /* Body 1 */
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

a {
    text-decoration: none;
}


.pos-button:hover,
.contact-form form #submit:hover {
    background-color: #592EA9;
    color: #FFF;
}

.pos-button {
    display: inline-flex;
    padding: 16px 48px;
    align-items: center;
    gap: 12px;
    color: var(--pos-main-all);
    font-family: var(--pos-secondary-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    background: var(--pos-primary-color);
}


/* ---------------------------------
hedding section
------------------------------------- */
.pos-header-area {
    background-color: var(--pos-main-all);
    height: 80px;
}

.pos-logo {
    padding-top: 25px;
    padding-bottom: 25px;
}

.pos-primary-menu-main-all {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;
}

.pos-primary-menu>a {
    color: #FFF;
    font-family: var(--pos-primary-font-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: none;
}

.pos-primary-menu ul {
    display: flex;
    justify-content: end;
    gap: 24px;
    margin: 0;
}

.pos-primary-menu ul li {
    list-style: none;
}

.pos-primary-menu ul li a {
    color: #FFF;
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.pos-primary-menu .navbar-nav .nav-link:hover {
    color: red;

}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: red;
}

.pos-primary-menu ul li ul.dropdown-menu {
    background: #592EA9;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    display: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu.show {
    position: absolute;
    display: block;
}

.pos-primary-menu .navbar-nav .nav-link.active {
    color: var(--pos-primary-color);

}

.pos-primary-menu .navbar-nav .nav-link {
    color: #fff;
}

li .dropdown-toggle::after {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    transform: translateY(-48%);
    top: 48%;
    right: -16px;
    border: 0;
}

.pos-header-button .pos-button {
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
}

.pos-header-button .pos-button:hover {
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #592EA9;
}






/* ----------------------
hero section
------------------------ */
.pos-hero-area {
    padding-top: 128px;
    padding-bottom: 192px;
}

.pos-hero-content-area {
    padding-right: 576px;
}

.pos-hero-content-area p {
    padding-right: 223px;
    margin-top: 16px;
}

.pos-hero-content-area h1 {
    color: #FFF;

}

.pos-hero-content-area h6 {
    color: #FFF;
    font-size: 16px;
    line-height: 28px;
}


.pos-hero-content-area h6 span {
    color: var(--pos-primary-color);
    font-size: 16px;
    line-height: 28px;
    border-right: 2px solid #fff;
}

.pos-hero-content-area h5 span {
    color: var(--pos-primary-color);
    font-size: 16px;
    line-height: 28px;

}

.pos-hero-button {
    margin-top: 48px;
}



/* -------------------------------
pos-post-area
---------------------------------- */
.pos-post-area {
    padding-top: 128px;
}

.pos-features-content {
    border: 1px solid #6D6E76;
    width: 733px;
    height: 733px;
    flex-shrink: 0;
    padding: 32px 32px;
}

.pos-features-content h6 {
    margin-top: 32px;
    margin-bottom: 16px;
}

.pos-features-content p {
    color: #6D6E76;
    margin-top: 16px;
    margin-bottom: 32px;
    padding-right: 98px;
}

.pos-post-all-single-content {
    padding-left: 32px;

}

.pos-post-all-single-content:hover {
    background-color: var(--pos-secondary-color);
}



.pos-post-all-single-content h6 {
    margin-top: 32px;

}

.blog-post-single-contnent {
    padding-right: 112px;
}

.pos-post-all-single-content h4,
.blog-post-single-contnent h4 {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 25px;

}

.pos-all-post-single-main-content {
    padding-top: 45px;
}

/* -------------------------------------
about us
----------------------------------------- */
.pos-about-section-container {
    background: #F4F0F8;
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 80px;
    padding-right: 108px;
}

.pos-about-us-content-area h6 {
    color: var(--pos-main-all);
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;

}

.pos-about-us-content-area {
    padding-right: 109px;

}

.pos-about-us-mision-area h6 {
    color: var(--pos-main-all);
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;

}

.pos-about-us-mision-area {
    padding-right: 149px;

}

/* ------------------------------
pos-catagory-area
--------------------------------- */
.pos-catagory-area {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pos-single-catagory-area {
    width: 296px;
    height: 228px;
    border: 1px solid #6D6E76;
    padding: 32px;
}

.pos-single-catagory-area:hover {
    background-color: var(--pos-primary-color);
    border: none;
}


.pos-single-catagory-area i,
.widget-catagory-list-area a i {
    background-color: var(--pos-secondary-color);
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 8px;
    margin-bottom: 16px;
}

/* -----------------------------
pos-started-content-area
-------------------------------- */
.pos-started-content-area {
    width: 706px;
    height: 584px;
    background-color: #FFF;
    padding: 80px;
    margin-top: 121px;
    padding-right: 229px;

}

.pos-started-content-area h6 {
    color: var(--pos-main-all);
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

/* --------------------------------
pos-single-author-start,about-single-author-start
---------------------------------- */
.pos-authors-area {
    padding-top: 128px;
    padding-bottom: 100px;
}

.pos-single-author-start,
.about-single-author-start {
    background-color: var(--primary-pos-bg);
    width: 296px;
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pos-single-author-start img,
.about-single-author-start img {
    max-width: 128px;
    height: 128px;
}

.pos-single-author-start:hover,
.about-single-author-start:hover {
    background-color: var(--pos-secondary-color);
}


.pos-single-author-start a,
.about-single-author-start a {
    font-weight: bold;
    color: var(--pos-main-all);
}

.pos-single-author-icon-area {
    display: flex;
    gap: 16px;
    margin-top: 20px;

}

.pos-all-single-atuhors-area .owl-dots {
    text-align: center;
}

.pos-all-single-atuhors-area .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background-color: #C4C4C4 !important;
    border-radius: 50%;
    margin: 5px;
    margin-top: 30px;
}

.pos-all-single-atuhors-area .owl-dots .owl-dot.active {
    background-color: rgb(236, 31, 31) !important;
}

.all-senal-logo .all-brand-single-img .owl-item {
    max-width: 134px;
}

/* -----------------------
testimonial area
-------------------------- */
.pos-testimonial-area {
    padding-top: 128px;

}

.pos-testimonail-container-main {
    background-color: var(--pos-secondary-color);
    padding: 85px 112px;
}

.testimonial-heading-area {
    padding-right: 220px;
    border-right: 1px solid var(--pos-main-all);
    height: 310px;
}

.testimonial-heading-area h6 {
    color: var(--pos-main-all);
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;

}

.pos-testimonial-content-area {
    padding-left: 96px;
}

.pos-testimonial-content-area h4 {
    font-size: 24px;

}

.pos-testimonial-footer-area {
    margin-top: 121px;
}

.pos-testimonial-profile {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.pos-testimonial-profile img {
    max-width: 48px;
    height: 48px;
}

.pos-testimonail-name h4 {
    font-size: 24px;
    margin: 0;
}

.pos-testimonial-content-area .owl-nav {
    display: flex;
    gap: 24px;
    position: absolute;
    left: 494px;
    bottom: 30px;
}

.pos-testimonial-content-area .owl-nav i {
    width: 48px;
    height: 48px;
    font-size: 20px;
    color: var(--pos-main-all) !important;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pos-testimonial-content-area .owl-nav i:hover {
    width: 62px;
    height: 62px;
    font-size: 25px;
    color: #ffff !important;
    background-color: var(--pos-main-all);

}

/* ---------------------------------
pos-join-area
---------------------------------- */
.pos-join-content-area {
    padding: 128px 500px;

}

/* ----------------------------
pos-footer-heading-area
------------------------------- */
.pos-footer-all-section-area {
    background-color: var(--pos-main-all);
    padding-top: 59px;
    padding-bottom: 56px;
}


.pos-secondary-menu ul {
    display: flex;
    gap: 24px;
    margin: 0;
    justify-content: end;
}

.pos-secondary-menu ul li {
    list-style: none;
}

.pos-secondary-menu ul li a {
    color: #FFF;
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.pos-subscribe-area {
    padding-top: 54px;
    padding-bottom: 48px;
}

.pos-subscribes-content {
    padding: 80px 64px;
}

.pos-subsribe-submit-area {
    padding-top: 84px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.pos-subsribe-submit-area input {
    border: 1px solid grey;
    color: #ABABAB;
    font-family: var(--pos-primary-font-family);
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    width: 323px;
    height: 56px;
    background: transparent;
    padding-left: 20px;
}

.pos-last-section-footer {
    display: flex;
    justify-content: space-between;

}

.pos-single-author-icon-area i {
    color: #6D6E76;
    font-size: 16px;
    display: flex;
    gap: 26.67px;

}

.pos-stared-img {
    background-image: url('../img/started-bg.png');
    background-repeat: no-repeat;
}

/* ======================================================================== */


span {
    color: #592EA9;
    font-family: var(--pos-primary-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 4px;
}

.blog-all-post-area {
    padding-top: 64px;
    padding-bottom: 64px;
}

.blog-pos-hero-area,
.author-hero-area {
    padding: 80px;
}

/* ========================================================================= */
.blog-details-content h6,
.blog-details-content h2,
.blog-details-content h1 {
    color: #232536;
    margin-top: 48px;

    /* Heading H2 */
    font-family: var(--pos-secondary-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
}

.blog-details-content p {
    color: #6D6E76;
    margin-top: 24px;

    /* Body 1 */
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.blog-details-content ul li {
    color: #161722;
    list-style-type: style;
    /* Heading H4 */
    font-family: var(--pos-secondary-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
}

.posts-author-profile {
    padding: 64px 256px;
}

.posts-author-profile-dipaly-set {
    display: flex;
    gap: 16px;
    align-items: center;
}

.blog-author-name h4 {
    color: #592EA9;
    margin: 0;
    font-family: var(--pos-secondary-color);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
}

.posts-author-profile a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #232536;
    font-family: var(--pos-secondary-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;

}

.single-blog-widget-area {
    margin-bottom: 48px;
}

.single-widget-title h2 {
    color: #232536;
    font-family: var(--pos-secondary-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
    margin-bottom: 40px;
    ;
}

.widget-catagory-list-area ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;

}

.widget-catagory-list-area ul a {
    border: 1px solid #232536;
    text-align: center;
    padding: 28px;
    font-family: var(--pos-secondary-font-family);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: -1px;
    color: #232536;
    display: flex;
    align-items: center;
    gap: 15px;


}

.widget-catagory-list-area ul a:hover {
    font-family: var(--pos-secondary-font-family);
    color: var(--pos-secondary-color);
    background-color: var(--pos-primary-color);
    border: 1px solid var(--pos-secondary-color);

}

/* =============================================================================== */

.aboutus-top-area {
    margin-top: 80px;
}

.aboutus-title-area {
    background-color: #FFF;
    padding: 64px;
    position: relative;
    margin-bottom: -77px;
    z-index: 1;

}

.aboutus-title-area h1 {
    color: #232536;
    /* Heading H1 */
    font-family: var(--pos-secondary-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 133.333% */
    letter-spacing: -2px;
}

.aboutus-title-area-cont p {
    margin-top: 80px;
    margin-left: 99px;
}

.all-view-published {
    background-color: #FFD050;
    padding: 32px 48px;
    position: absolute;
    bottom: 23px;
    left: 109px;
}


.single-view-published h2 {
    color: #232536;

    /* Display */
    font-family: var(--pos-secondary-color);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
}

.single-view-published p {
    color: #232536;
    /* Body 1 */
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.viewer-color-about-us {
    position: absolute;
    bottom: 0;
    left: 97px;
    display: flex;
}

.pos-about-us-mission-area {
    margin-bottom: 128px;
}

.about-single-author-start {
    margin-bottom: 32px;
}

.single-blog-widget-area ul {
    display: grid;
    grid-template-columns: 157px 139px;
    gap: 40px;

}

.single-blog-widget-area a {
    border: 1px solid var(--pos-main-all);
    border-radius: 50px;
    padding: 10px 38px;
    color: #232536;
    /* Body 1 */
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */

}

/* ===================================================================================== */
.authour-hero-content-area {
    padding-right: 306px;

}

.author-hero-color-area {
    position: absolute;
    bottom: 0;
    left: 216px;

}

.author-post-single-contnent {
    padding-right: 427px;
}

.author-post-single-contnent span {
    color: #592EA9;

    /* Cap 1 */
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.author-post-single-contnent h3 {
    color: var(--pos-main-all);

    /* Heading H2 */
    font-family: var(--pos-main-all);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
}

.author-post-single-contnent p {
    color: #6D6E76;
    /* Body 1 */
    font-family: var(--pos-secondary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

/* ================================================================================================== */
.contact-container {
    width: 768px;
    margin: auto;

}

.conatact-form-time-area-container {
    padding: 48px 64px;
    background-color: #592EA9;
    margin-bottom: 32px;

}

.conatact-form-time-area-container span {
    color: #FFF;
    /* Body 2 */
    font-family: var(--pos-primary-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.6;
    border-bottom: 1px solid #fff;
    padding-bottom: 16px;
}

.conatact-form-time-area-container h4 {
    color: #FFF;

    /* Heading H5 */
    font-family: var(--pos-secondary-font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 160% */
}

.conatact-form-time-area-container p {
    color: #FFF;

    /* Body 1 */
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.6;
    /* 175% */
}

.contact-form form input,
.contact-form form textarea {
    display: flex;
    width: 100%;
    padding: 24px;
    align-items: center;
    gap: 10px;
    color: #232536;
    font-family: var(--pos-primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */

}

.contact-form form #submit {
    color: #232536;
    font-family: var(--pos-secondary-font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
    background: var(--pos-primary-color);
    border: transparent;
}

.privacy-contant-area {
    margin-top: 128px;
    margin-bottom: 128px;
}

.error-page-area-all {
    padding: 128px;
}

.single-about-view-img img {
    width: 1280px;
    height: 444px;
}

.about-single-author-start p a {
    margin-left: 4px;
}

/* ============================================================================== */
